#mainWidgetOuter {
    margin-top: 95px;
    width: 700px ;
    margin-left: auto ;
    margin-right: auto ;
}

.mainWidget {
    margin-left: -6px;
    border-radius: 8px; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
    border: 1px solid #808080;
    width: 700px;
    height: 340px;
    padding:5px 5px; 
    background-color: #fff; 
    position: absolute;
    z-index: 2;
}

#mainWidgetInner {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 430px;
    margin-top: -15px;
}

.popup_mainWidget {
    margin-left: -6px;
    border-radius: 8px; 
    -moz-border-radius: 8px; 
    -webkit-border-radius: 8px; 
    border: 1px solid #808080;
    width: 700px;
    height: 440px;
    padding:5px 5px; 
    background-color: #fff; 
    position: absolute;
    z-index: 2;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../images/error.png');
}

.styled-button-8 {
    background:#25A6E1;
    background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9;
    cursor:pointer
}

.button-link {
    background:#25A6E1;
    background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9;
    cursor:pointer;
}

.button-logout {
    background:#25A6E1;
    background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9;
    cursor:pointer;
}

.button-logout:hover {
    background:#ccc;
    background:-moz-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ccc),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:linear-gradient(top,#ccc 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9;
    cursor:pointer;
}

.button-settings {
    background:#5A575E;
    background:-moz-linear-gradient(top,#5A575E 0%,#000 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5A575E),color-stop(100%,#000));
    background:-webkit-linear-gradient(top,#5A575E 0%,#000 100%);
    background:-o-linear-gradient(top,#5A575E 0%,#000 100%);
    background:-ms-linear-gradient(top,#5A575E 0%,#000 100%);
    background:linear-gradient(top,#5A575E 0%,#000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #5A575E;
    cursor:pointer;
    width:80px;
    float:left;
}

.button-settings:hover {
    background:#ccc;
    background:-moz-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ccc),color-stop(100%,#188BC0));
    background:-webkit-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:-o-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:-ms-linear-gradient(top,#ccc 0%,#188BC0 100%);
    background:linear-gradient(top,#ccc 0%,#188BC0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9;
    cursor:pointer;
    width:80px;
    float:left;
    
}

.button-trash {
    background:#5A575E;
    background:-moz-linear-gradient(top,#5A575E 0%,#000 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5A575E),color-stop(100%,#000));
    background:-webkit-linear-gradient(top,#5A575E 0%,#000 100%);
    background:-o-linear-gradient(top,#5A575E 0%,#000 100%);
    background:-ms-linear-gradient(top,#5A575E 0%,#000 100%);
    background:linear-gradient(top,#5A575E 0%,#000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #5A575E;
    cursor:pointer;
    width:80px;
    float:left;
    margin-left: 180px;  
}

a.button-link:link {text-decoration: none; color:#fff;}
a.button-link:visited {text-decoration: none; color:#fff;}
a.button-link:active  {text-decoration: none; color:#fff;}
a.button-link:hover {text-decoration: none; color:#fff;}

a.wachtwoord {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a.wachtwoord:link, a.wachtwoord:visited{
    background-color: #FFFFFF;
    color: #25A6E1;
    text-decoration: none;
}

a.wachtwoord:hover, a.wachtwoord:active{
    background-color: #FFFFF;
    color: #1A87B9;
    text-decoration: underline;
}

input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 17px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}

input.rounded:focus {
    border-color: #25A6E1;
}